<library path="lib/librqt_whycon">
  <class name="rqt_whycon/RqtWhycon" type="rqt_whycon::RqtWhycon" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to control and view output of WhyCon package.
    </description>
    <qtgui>
      <group>
        <label>Fiducials</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to fiducial markers.</statustip>
      </group>
      <label>WhyCon</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to control and view output of WhyCon package.</statustip>
    </qtgui>
  </class>
</library>
